<ion-header>
  <ion-navbar>
    <ion-title>Tell us a Thing.</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card class="card-with-background" *ngIf="mysin">
    <img src="/assets/imgs/backgrounds/010.jpg" alt="">
    <div class="card-title" style="background: rgba(255, 255, 255, .5);color:black;">
      {{mysin}}
    </div>
  </ion-card>
  <!-- <ion-item>
  </ion-item> -->
  <!-- <button ion-button class="pull-right" (click)="submitPost()">
    Let it Go
  </button> -->
  <button ion-button full color="dark" (click)="backgroundToggle = !backgroundToggle">Choose a Background</button>
  <section *ngIf="backgroundToggle">
    <ion-grid class="image-grid">
      <ion-row>
        <ion-col col-4><img src="/assets/imgs/backgrounds/010.jpg" alt=""></ion-col>
        <ion-col col-4><img src="/assets/imgs/backgrounds/011.jpg" alt=""></ion-col>
        <ion-col col-4><img src="/assets/imgs/backgrounds/012.jpg" alt=""></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><img src="/assets/imgs/backgrounds/013.jpg" alt=""></ion-col>
        <ion-col col-4><img src="/assets/imgs/backgrounds/014.jpg" alt=""></ion-col>
        <ion-col col-4><img src="/assets/imgs/backgrounds/015.jpg" alt=""></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><img src="/assets/imgs/backgrounds/016.jpg" alt=""></ion-col>
        <ion-col col-4><img src="/assets/imgs/backgrounds/017.jpg" alt=""></ion-col>
        <ion-col col-4><img src="/assets/imgs/backgrounds/018.jpg" alt=""></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><img src="/assets/imgs/backgrounds/019.jpg" alt=""></ion-col>
        <ion-col col-4><img src="/assets/imgs/backgrounds/020.jpg" alt=""></ion-col>
        <ion-col col-4><img src="/assets/imgs/backgrounds/021.jpg" alt=""></ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <button ion-button full color="dark" (click)="colorToggle = !colorToggle">Choose a Color</button>
  <section *ngIf="colorToggle">
    Color Toggle
  </section>
  <button ion-button full color="dark" (click)="textToggle = !textToggle">Write a Thing</button>
  <section *ngIf="textToggle">
    <ion-textarea placeholder="My Sin is..." [(ngModel)]="mysin"></ion-textarea>
  </section>
</ion-content>
