<ion-menu [content]="content">
  <ion-header>
      <ion-toolbar>
      <ion-title>Menu</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
      <button ion-item (click)="goToPage('Posts')">
          Home
      </button>
      <button ion-item (click)="goToPage('Landing')">
          Log In / Register
      </button>
      </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-navbar>
      <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>
          What's your sin?
      </ion-title>
      <button ion-button icon-only class="button--edit" (click)="openNewPostModal()">
          <ion-icon name="create"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>