post {
    .button--like.liked {
        .ion-md-heart-outline:before {
            content: "\f308";
            color: #a80019;
        }
    }

    .button--favorite.favorited {
        .ion-md-star-outline:before {
            content: "\f384";
            color: #a80019;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .custom-padding--row {
        border-top: 1px solid #333;
        padding-top: 0;
    }
    .card {
        margin-top: 25px;
    }
}
