<ion-card class="card-with-background">
  <img src="/assets/imgs/backgrounds/{{cardBackground}}.jpg" alt="">
  <div class="card-title" [style.backgroundColor]="cardColor" [style.color]="cardTextColor">
    {{text}}
  </div>
  <!-- <ion-card-content> -->
    <!-- <p class="content--main">
      Test, something something something.
    </p> -->
  <!-- </ion-card-content> -->
  <!-- <div class="card-subtitle">41 Listings</div> -->
  <ion-row padding class="post--stati">
    <button ion-button clear small color="dark" icon-start class="button--like" (click)="likePost(postItem)" [class.liked]="liked">
      <ion-icon name='heart-outline' color="red"></ion-icon>
    </button>
    <button ion-button clear small color="dark" icon-start class="button--favorite" (click)="favoritePost()" [class.favorited]="favorited">
      <ion-icon name='star-outline'></ion-icon>
    </button>
    <!-- <button ion-button clear small color="dark" icon-start (click)="sharePost()">
      <ion-icon name='share-alt'></ion-icon>
    </button> -->
    <ion-col>
      <ul style="float:right;">
        <li>{{likeCount}} Likes</li>
        <li>{{favoriteCount}} Favorited</li>
      </ul>
    </ion-col>
  </ion-row>

  <ion-card class="card-with-background" *ngIf="cardText">
      <img src="/assets/imgs/backgrounds/{{cardBackground}}.jpg"  alt="">
      <div class="card-title" [style.backgroundColor]="cardColor" [style.color]="cardTextColor">
        {{cardText}}
      </div>
    </ion-card>
</ion-card>