<ion-card>
  <ion-card-content>
    <p class="content--main">
      I Went to a nine inch nails concert and smoked marijuana with my best friends sister.
    </p>
  </ion-card-content>
  <ion-row no-padding class="post--stati">
    <ion-col>
      <button ion-button clear small color="dark" icon-start disabled>
        50&nbsp;&nbsp;<ion-icon name='star-outline'></ion-icon>
      </button>
    </ion-col>
    <ion-col text-center>
      <button ion-button clear small color="dark" icon-start>
        500&nbsp;&nbsp;<ion-icon name='heart-outline'></ion-icon>
      </button>
    </ion-col>
    <ion-col text-right>
      <button ion-button clear small color="dark" icon-start>
        20&nbsp;&nbsp;<ion-icon name='share-alt'></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-card>